In [22]:
import os
# Set & view the working directory to ensure runtime is executng in expected directory
cwd = os.getcwd()
print(f"Current working directory: {cwd}")
os.chdir("C:/Users/angusf/source/repos/synth_nonin") #note the use of forward slashes

Current working directory: C:\Users\angusf\source\repos\synth_nonin

In [23]:
from sdv.sequential import PARSynthesizer
synthesizer = PARSynthesizer.load('IntraDayStockSynthesiser.pkl') # Load the model we trained  in step 2

In [24]:
synthetic_data = synthesizer.sample(num_sequences=12, sequence_length=300) #generate 12 sequences (of Stock Symbols) of 96 rows each (8 hours worth of 5 minute data samples)
synthetic_data.head()

  0%|          | 0/12 [00:00<?, ?it/s]

100%|██████████| 12/12 [00:48<00:00,  4.01s/it]

,Date,Time,Open,High,Low,Close,Volume,Symbol,Combineddatetime
0,2017-12-09,19:18:58,2.225885,38.012492,37.945516,37.978855,12243,aaaa,2017-11-24 00:31:23
1,2017-10-25,20:44:46,35.898950,38.012492,4.446851,28.014458,30675,aaaa,2017-08-08 13:23:47
2,2017-11-27,21:30:44,30.490385,36.181223,32.207300,29.731478,-5211,aaaa,2017-12-01 01:07:50
3,2017-10-14,18:45:54,18.499965,21.714878,28.877404,37.224399,8278,aaaa,2017-11-20 03:04:54
4,2017-11-02,16:24:55,22.798376,16.001729,34.210978,26.360149,20377,aaaa,2017-08-10 14:39:53

In [27]:
#sort the dataset so we can better see the sequences (which in my experience are not always correct for time series)
synthetic_data.sort_values(['Symbol', 'Combineddatetime'])

,Date,Time,Open,High,Low,Close,Volume,Symbol,Combineddatetime
35,2017-11-18,14:48:57,28.189810,25.879087,13.238515,19.908617,39284,aaaa,2017-07-07 10:39:22
104,2017-10-27,19:59:12,18.129483,12.244610,12.349655,37.978855,-19711,aaaa,2017-07-07 17:50:04
187,2017-10-28,18:45:54,19.899869,17.964110,10.864239,19.036807,30051,aaaa,2017-07-12 03:41:12
43,2017-12-10,19:50:03,16.788820,12.156427,18.209946,24.074927,-14512,aaaa,2017-07-24 02:15:33
266,2017-11-08,19:32:35,19.629136,25.072394,-9.246262,20.849468,49315,aaaa,2017-07-26 01:42:24
...,...,...,...,...,...,...,...,...,...
3371,2017-11-10,15:42:30,24.503672,38.012492,26.001304,17.412675,30679,aaal,2018-02-25 15:19:52
3486,2017-12-16,17:45:18,15.340168,22.870855,28.358905,24.682803,57801,aaal,2018-02-28 12:57:24
3527,2017-10-26,16:15:04,29.325598,23.066249,37.945516,17.846790,67398,aaal,2018-03-16 11:57:58
3571,2017-11-11,20:14:22,33.262915,21.693972,12.103183,31.951766,8278,aaal,2018-03-24 10:24:13
3321,2017-10-25,16:55:10,19.524301,30.540896,35.303298,34.045245,-47454,aaal,2018-03-25 17:50:24

In [29]:
synthetic_data.to_csv('synthetic_Intraday PARstock.csv', index=False) #save the synthetic data to a csv file
synthetic_data['Symbol'].unique() #list the synthetic stock symbols

array(['aaaa', 'aaab', 'aaac', 'aaad', 'aaae', 'aaaf', 'aaag', 'aaah',
       'aaai', 'aaaj', 'aaak', 'aaal'], dtype=object)